*{
    box-sizing: inherit;
    
}

html{
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.index-main_header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-main_header-img{
    width: 100%;
    height: 100vh;
    position: relative;
}

.index-main_nav{
    position: absolute;
    top: 30px;
    left: 0;
}

.index-main_nav-list li{
    list-style: none;
}

.index-main_nav{
    display: flex;
    justify-content: space-around;
}

.index-main{
    background-color: #001427;
}

.index-main_nav{
    width: 100%;
}

.index-main_nav-list{
    display: flex;
}

.index-main_nav-list_header{
    margin-left: 120px;
    font-weight: 200px;
}

.index-main_nav-img{
    transform: translateY(-70%);
    width: 30px;
    height: 30px;
}



.index-main_nav-header{
    margin: 0 20px;
    font-size: 25px;
    color: rgba(244,213,141, 0.6);
}

.index-main_nav-icon{
    margin: 0 10px;
    font-size: 28px;
    color: #F4D58D;
}

.index-main_header-content{
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 40%;
    transform: translateX(85%);
}

.index-main_header-content_header{
    color: #F4D58D;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.index-main_header-content_desc{
    text-align: center;
    color: white;
}

.index-main_header-content_begin{
    color: #F4D58D;
    border: 1px solid #F4D58D;
    border-radius: 25px;
    padding: 15px 15px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

.index-main_header-home{
    background-color: #001427;
}

/* home-page */
.index-main_nav-home{
    position: static;
}


.index-main_nav-home ul{
    margin-top: 40px;
}

.conten{
    color: white;
}

.home-page_slider-top{
    background-color: #001427;
    margin-top: 10%;
    overflow: hidden;
}

.home-page_slider-top_body{
    display: flex;
    justify-content: center;
    position: relative;
}

.home-page_slider-top_btn{
    width: 80%;
    color: #F4D58D;
    top: 70%;
    margin-left: 10%;
    position: absolute;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}

.home-page_slider-top_body{
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.home-page_slider-top_content{
    width: 35%;
    transform: translateY(40%);
}

.home-page_slider-top_content-slider{
    color: #F4D58D;
    font-size: 40px;
}

.home-page_slider-top_content-desc{
    color: white;
    text-align: left;
}

.home-page_slider-top_content-btn{
    color: #F4D58D;
    display: flex;
}

.home-page_slider-top_content-btn_see-add{
    border: 1px solid #F4D58D;
    border-radius: 20px;
    padding: 10px 10px;
}

.home-page_slider-top_content-btn_see-product{
    border: 1px solid #F4D58D;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px 10px;
}

.home-page_origin{
    display: flex;
    background-color: #6D0500;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.home-page_origin-img{
    width: 700px;
    height: 400px;
}

.home-page_origin-img img{
    width: 100%;
    height: 100%;
}


.home-page_origin-content{
    width: 720px;
    height: 245px;
    margin: 0 auto;
    margin-top: 50px;
}

.home-page_origin-content{
    text-align: right;
    width: 600px;
    margin-right: 120px;
}

.home-page_origin-left{
    display: flex;
    flex-direction: row-reverse;
    background-color: #6D0500;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.home-page_origin-img_left{
    width: 100%;
    height: 100%;
}

.home-page_origin-img_left img{
    width: 71%;
    height: 100%;
}


.home-page_origin-content_left{
    width: 720px;
    height: 245px;
    margin: 0 auto;
    margin-top: 50px;
}

.home-page_origin-content_left{
    text-align: left;
    width: 600px;
    margin-left: 120px;
}

.home-page_characteristic-left{
    display: flex;
    flex-direction: row-reverse;
    background-color: #5E7B6F;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.home-page_characteristic-img_left{
    width: 100%;
    height: 100%;
}

.home-page_characteristic-img_left img{
    width: 70%;
    height: 100%;
}


.home-page_characteristic-content_left{
    width: 720px;
    height: 245px;
    margin: 0 auto;
    margin-top: 50px;
}

.home-page_characteristic-content_left{
    text-align: left;
    width: 600px;
    margin-left: 120px;
}

/* slider bottom */

.home-page_slider-bottom_title{
    text-align: center;
    color: #F4D58D;
    font-size: 40px;
    margin-top: 50px;
}

.home-page_slider-bottom{
    width: 100%;
    position: relative;
    text-align: center;
 }

.home-page_slider-bottom_btn{
    color: #F4D58D;
    display: flex;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    font-size: 50px;
    transform: translateY(-50%);
}

.home-page_slider-bottom_body{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 30px;
}

.home-page_slider-bottom_item{
    width: 500px;
    height: 500px;
}

.home-page_slider-bottom_item img{
    width: 100%;
    height: 100%;
}

/* footer */

.index-main_footer{
    background-color: #1C2A3D;
}

.index-main_footer{
    text-align: center;
}

.index-main_footer ul{
    list-style: none;
}

.index-main_footer-menu_content-list{
    display: flex;
    color: rgba(244,213,141, 0.6);;
    justify-content: center;
}

.index-main_footer-menu_content{
    margin-right: 60px;
}

.index-main_footer-menu_icon-list{
    display: flex;
    color: #F4D58D;
    justify-content: center;
}

.index-main_footer-menu_content-item{
    margin: 0 25px;
}

.index-main_footer-menu_icon{
    margin-right: 30px;
}

.index-main_footer-menu_icon-item{
    margin: 0 17px;
    font-size: 30px;
}

.index-main_footer-end{
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 25px;
}

.index-main_footer-end_c{
    transform: translateY(50%);
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 60%;
    height: 100%;
    padding: 0 8px;
}

.index-main_footer-end_content{
    font-size: 13px;
}

/* intr-me.html */

.intro-me_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    transform: translateX(-10%);
}

.intro-me_main-left_header{
    color: #F4D58D;
    font-size: 30px;
}

.intro-me_main-left_desc{
    color: white;
    width: 50%;
    font-size: 20px;
    font-weight: 100;
}

.intro-me_main-left{
    text-align: left;
    width: 100%;
    transform: translateX(30%);
}

.intro-me_main-right{
    text-align: center;
    position: relative;
}

.intro-me_main-right_img{
    position: relative;
    z-index: 3;
}

.intro-me_main-right_circle{
    color: red;
    font-size: 250px;
    position: absolute;
    top: 0;
    transform: translateX(-40%);
    margin-left: 50%;
    z-index: 2;
}

.intro-me_main-right_content{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    margin-left: 50%;
    z-index: 1;
    font-size: 80px;
    height: 60%;
    line-height: 95px;
    width: 100%;
    color: aliceblue;
}

.intro-me_member-title{
    text-align: center;
    color: #F4D58D;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.intro-me_member{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.intro-me_member-icon_list{
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: #928864;
}

.intro-me_member-icon_item{
    margin: 0 20px;
}

.styleImg {
    padding: 50px 0;
    height: 500px;
}

.intro-me_member-item:nth-child(2) .styleImg{
    padding: 10px 0;
}
.styleImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 .intro-me_member-nhattrung_name{
    margin-top: 10px;
 }

 .intro-me_member-icon_list{
    margin-top: 30px;
 }
 /* localtion.html */

 .local-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
 }

 .local-main_left{
    width: 50%;
    color: white;
    font-size: 20px;
 }

 .local-main_left-desc{
    width: 333px;
    margin: 0 auto;
 }

 .local-main_left-icon_list{
    display: flex;
    color: #F4D58D;
    margin-left: 200px;
    font-size: 35px;
 }

 .local-main_left-icon_item{
    margin: 0 15px;
 }

.local-main_right{
    position: relative;
}

 .local-main_right-search input{
    width: 100%;
    border: 1px solid #F4D58D;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 12px 10px;
    margin-bottom: 30px;
 }

 .local-main_right-search input:focus{
    outline: none;
 }

.local-main_right-search_icon{
    color: #F4D58D; 
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 10px;

}

 .local-main_right-img{
    width: 540px;
 }

 .local-main_right-img img{
    width: 100%;
    height: 100%;
 }

 /* menu-prod.html */

 .menu-prod_title{
    text-align: center;
    color: #F4D58D;
    font-size: 40px;
    margin-top: 100px;
}

.menu-prod{
    width: 100%;
    position: relative;
    text-align: center;
 }

.menu-prod_btn{
    color: #F4D58D;
    display: flex;
    width: 86%;
    position: absolute;
    top: 30%;
    left: 0;
    justify-content: space-between;
    font-size: 70px;
    transform: translateY(-50%);
    transform: translateX(9%);
}

.menu-prod_body{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 30px;
    padding: 0 150px;
}
.menu-prod_item-price{
    color: #F4D58D;
}

.menu-prod_item{
    width: 284px;
    height: 285px;
    height: 100%;
    color: white;
}

.menu-prod_item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}

.menu-prod_dot{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.menu-prod_dot-item{
    margin: 0 5px;
}

.menu-prod_dot-dark{
    color: #F4D58D;
}

.menu-prod_dot-blank{
    color: #F4D58D;
}

.menu-prod_title-bot{
    text-align: center;
    color: #F4D58D;
    font-size: 40px;
    margin-top: 150px;
}

.menu-prod_bot{
    width: 100%;
    position: relative;
    text-align: center;
 }

.menu-prod_btn-bot{
    color: #F4D58D;
    display: flex;
    width: 86%;
    position: absolute;
    top: 30%;
    left: 0;
    justify-content: space-between;
    font-size: 70px;
    transform: translateY(-50%);
    transform: translateX(9%);
}

.menu-prod_body-bot{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 30px;
    padding: 0 150px;
}
.menu-prod_item-price-bot{
    color: #F4D58D;
}

.menu-prod_item-bot{
    width: 284px;
    height: 285px;
    color: white;
}

.menu-prod_item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-pro_menu-select{
    position: absolute;
    color: #F4D58D;
    width: 90px;
    height: 425px;
    background-color: #344453;
    margin-top: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.menu-pro_menu-select i{
    font-size: 30px;
    margin-top: 10px;
}
/* menu-pro-2.html */

.menu-pro_menu-2_select{
    position: absolute;
    color: white;
    width: 20%;
    height: 395px;
    background-color: rgba(52,67,83, 0.5);
    margin-top: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    z-index: 2;
}

.menu-pro_menu-2_list{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.menu-pro_menu-2_list-prod{
    margin-top: -15px;
}

.menu-pro_menu-2_list-prod{
    padding: 20px;
}

.menu-pro_menu-2_select i{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

/* cafe.html */

.menu-prod_cafe-top{
    display: flex;
    justify-content: center;
}

.menu-prod_cafe-mid{
    display: flex;
    justify-content: center;
}

.menu-prod_cafe-bottom{
    display: flex;
    justify-content: center;
}

.menu-prod_cafe-title{
    text-align: center;
    font-size: 30px;
    color: #F4D58D;
}

.menu-prod_cafe-item{
    margin: 0 10px;
}

.menu-prod_cafe-search{
    position: relative;
}

.menu-prod_cafe-item_search{
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    height: 245px;
    text-align: center;
    transform: translateY(10%);
    transform: translateX(-3%);
    margin-left: 20px;
    margin-top: 5px;
    background-color: rgba(65, 71, 77, 0.5);
    color: #F4D58D;
    display: none;
}

.menu-prod_cafe-item_search i{
    /* width: 100%;
    height: 100%; */
    font-size: 100px;
    transform: translateY(65%);
}

.menu-prod_cafe-search:hover .menu-prod_cafe-item_search{
    display: block;
}

.menu-prod_cafe{
    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-prod_cafe-item_content{
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 30px;
}

.menu-prod_cafe-item_content-price {
    color: #F4D58D;
}

.menu-prod_cafe-page{
    display: flex;
    align-items: end;
    justify-content: end;
}

.menu-prod_cafe-page_main-btn{
    display: flex;
    justify-content: end;
    color: #F4D58D;
    position: absolute;
    top: 19%;
    right: 0;
    font-size: 25px;
}

.menu-prod_cafe-page{
    color: white;
    margin-right: 170px;
}


.menu-prod_cafe-page_item{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 0 3px;
    font-size: 12px;
}

.menu-prod_cafe-page_items{
    transform: translateY(23%);
}

.menu-prod_cafe-page_main{
    margin-top: 80px;
    text-align: right;
    position: relative;
}

.menu-prod_cafe-page_main-btn_prev{
    margin-right: 219px;
}

.menu-prod_cafe-page_main-btn_next{
    margin-right: 143px;
}

.menu-prod_cafe-page_items{
    font-weight: 700;
}

/* detail-pro.html */

.detail-prod_main-header{
    display: flex;
    justify-content: center;
}

.detail-prod_main-header_img-list{
    display: flex;
}

.detail-prod_main-header_left{
    transform: translateY(-10%);
    transform: translateX(-30%);
}

.detail-prod_main-header_img-img{
    width: 600px;
    height: 350px;
}

.detail-prod_main-header_img-img img{
    width: 100%;
    height: 100%;
}


.detail-prod_main-header_img-item{
    width: 130px;
    height: 75px;
}

.detail-prod_main-header_img-item img{
    width: 100%;
    height: 100%;
}

.detail-prod_header{
    text-align: center;
    transform: translateX(-26%);
    font-size: 20px;
    word-spacing: 10px;
}

.detail-prod_header a{
    text-decoration: none;
    color: #F4D58D;
}

.detail-prod_main-header_right{
    color: white;
    line-height: 40px;
    transform: translateX(-30%);
    margin-top: 40px;
}

.detail-prod_main-header_right-headder{
    line-height: 40px;
    font-size: 30px;
}

.detail-prod_main-header_right .detail-prod_main-header_right-body span{
    opacity: 0.5;
}

.detail-prod_main-header_right-price{
    border-top: 1px solid #F4D58D;
    border-bottom: 1px solid #F4D58D;
    font-size: 30px;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: 600;
}

.detail-prod_main-header_right-quantity{
    display: flex;
    align-items: center;
}

.detail-prod_main-header_right-body{
    line-height: 40px;
}

.detail-prod_main-header_right-quantity_add{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-prod_main-header_right-quantity_add-list{
    display: flex;
}

.detail-prod_main-header_right-quantity_content{
    opacity: 0.5;
}

.detail-prod_main-header_right-quantity_add-icon i{
    background-color: #F4D58D;
    color: #001427;
    font-size: 13px;
}

.detail-prod_main-header_right-quantity_add-content{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    padding: 3px 15px;
    margin: 0 10px;
}

.detail-prod_main-header_right-quantity_add-list{
    padding-left: 20px;
}

.detail-prod_main-header_right-quantity_add-item{
    color: #F4D58D;
    font-size: 25px;
    margin: 0 10px;
}

.detail-prod_main-header_right-assess{
    display: flex;
    margin-top: 10px;
}

.detail-prod_main-header_right-assess_content{
    opacity: 0.5;
}

.detail-prod_main-header_right-assess_list{
    display: flex;
    padding-left: 20px;
}

.detail-prod_main-header_right-assess_item{
    color: #F4D58D;
    margin: 0 8px;
}

.detail-prod_main{
    transform: translateX(5%);
    margin-top: 100px;
}

.detail-prod_main-desc{
    color: white;
    transform: translateX(11%);
    margin-top: 100px;
}

.detail-prod_main-desc span{
    font-size: 35px;
}

.detail-prod_main-desc_content{
    background-color: red; 
    padding: 10px 15px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    transform: translateX(-3%);
}

.detail-prod_main-table{
    color: white;
    transform: translateX(16%);
}

.detail-prod_main-table span{
    font-size: 25px;
}

.detail-prod_main-table table{
    width: 30%;
    text-align: left;
    opacity: 0.8;
}

.detail-prod_main-table table tr td{
    border: 1px solid white;
    padding: 5px 0;
    margin-left: 20px;
}

/* log-up.html */

.log-up_main{
    display: flex;
    justify-content: space-around;
}

.log-up_main-right_title{
    text-align: center;
    font-size: 30px;
    color: #F4D58D;
    padding: 20px 0;
}

.log-up_main-right_user input{
    padding: 13px 150px 13px 0;
    background-color: transparent;
    border: 2px solid #F4D58D;
    color: white;
    border-radius: 10px;
}

.log-up_main-right_user input:focus{
    outline: none;
}

.log-up_main-right_user{
    position: relative;
}

.log-up_main-right_user-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
}

.log-up_main-right_icon-item{
    color: #F4D58D;
    font-size: 28px;
}

.log-up_main-right_passw input{
    padding: 13px 150px 13px 0;
    background-color: transparent;
    border: 2px solid #F4D58D;
    color: white;
    border-radius: 10px;
}

.log-up_main-right_passw input:focus{
    outline: none;
}

.log-up_main-right_passw{
    position: relative;
}

.log-up_main-right_passw-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
}

.log-up_main-right_passwreply input{
    padding: 13px 150px 13px 0;
    background-color: transparent;
    border: 2px solid #F4D58D;
    color: white;
    border-radius: 10px;
}

.log-up_main-right_passwreply input:focus{
    outline: none;
}

.log-up_main-right_passwreply{
    position: relative;
}

.log-up_main-right_passwreply-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
}

.log-up_main-right{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.log-up_main-right_select{
    text-align: center;
    font-size: 20px;
    color: #F4D58D;
}

.log-up_main-right_list{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.log-up_main-right_item-icon{
    margin: 0 10px;
    font-size: 30px;
    color: #F4D58D;
}

.log-up_main-right_item-icon_select::before{
    content: "";
    border-right: 1px solid #F4D58D;
    margin-right: 20px;
}

.log-up_main-right_checkbox{
    text-align: center;
    color: white;
}

.log-up_main-right_checkbox input[type=checkbox] {
    transform: scale(2.0);
}


.log-up_main-right_creat{
    text-align: center;
    font-size: 15px;
    color: #F4D58D;
    margin-top: 20px;
}

.log-up_main-right_creat span{
    border: 1px solid #F4D58D;
    border-radius: 20px;
    padding: 15px;
}

.log-up_main-left{
    width: 520px;
    height: 700px;
    transform: translateY(-5%);
}

.log-up_main-left img{
    width: 100%;
    height: 100%;
}

.log-up_main{
    margin-top: 150px;
}

.log-up_main-right{
    transform: translateX(-20%);
}

/* log-up.html */

.log-in_select{
    display: flex;
    justify-content: space-between;
    color: white;
}

.log-in_main-right_checkbox{
    text-align: left;
}

/* ìnomation.html */

.information-me_main{
    margin-top: 100px;
}

.information-me_main{
    display: flex;
    justify-content: space-around;
}

.information-me_main-left{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-15%);

}

.information-me_main-right{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-me_main-right_header{
    color: #F4D58D;
    font-size: 30px;
    text-align: center;
}

.information-me_main-right_item input{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    background-color: transparent;
    padding: 13px 300px 13px 5px;
    text-align: left;
    margin-top: 10px;
}

.information-me_main-right_form{
    display: flex;
}

.information-me_main-right_form-item{
    margin: 0 20px;
}

.information-me_main-right_form-item select{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #001427;
    color: rgba(112, 141, 129, 0.5);
    transform: translateY(95%);
}

.information-me_main-right_form-day_form select{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #001427;
    color: rgba(112, 141, 129, 0.5);
    margin-right: 15px;
    margin-top: 10px;
}

.information-me_main-right_email{
    position: relative;
}

.information-me_main-right_email-icon{
    display: flex;
    position: absolute;
    top: 37%;
    right: 0;
    transform: translateY(50%);
    font-size: 30px;
    color: #F4D58D;
}

.information-me_main-right_icon-item{
    display: block;
    margin: 0 10px;
}

.information-me_main-right_phone{
    position: relative;
}

.information-me_main-right_phone-icon{
    position: absolute;
    top: 37%;
    right: 0;
    transform: translateY(50%);
    font-size: 30px;
    color: #F4D58D;
}

.information-me_main-right_select{
    display: flex;
    justify-content: right;
    margin: 25px 0;
}

.information-me_main-right_select-item span{
    border: 1px solid #F4D58D;
    border-radius: 15px;
    padding: 10px 30px;
}

.information-me_main-right_select-item {
    margin: 0 10px;
    text-align: right;
}


/* .information-me_main-right_select-cancel{
    padding-right: 30px;
} */

.information-me_main-left_header{
    font-weight: 600;
}

.information-me_main-left_header{
    line-height: 35px;
}

.information-me_main-left_info-account{
    color: rgba(112, 141, 129, 0.5);
}

.information-me_main-left_header-content{
    margin-left: 80px;
    font-weight: 500;
}

/* liink-bank.html */

.link-bank_right-card input{
    border: 1px solid #F4D58D;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 30px 10px 5px;
    margin-top: 11px;
}

.link-bank_right-card{
    position: relative;
}

.link-bank_main-right_icon-item{
    position: absolute;
    top: 37%;
    right: 0;
    transform: translateY(50%);
    font-size: 25px;
    color: #F4D58D;
}

.link-bank_made-time input{
    width: 100px;
    padding: 10px 0 10px 5px;
}

.link-bank_main-right_select-item{
    margin: 0 10px;
}

.link-bank_main-right_atm{
    position: relative;
}

.link-bank_right-item{
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(50%);
    font-size: 20px;
    font-weight: 200;
    color: #F4D58D;
}

.link-bank_main-left_info-account{
    color: white;
}

.link-bank_main-left_link-atm{
    color: rgba(112, 141, 129, 0.5);
}

/* ìno-cart.html */

.info-cart_main{
    color: white;
}

.info-cart_main-croll_item-content_desc span{
    opacity: 0.5;
}

.info-cart_main-croll_item{
    display: flex;
    align-items: center;
}

.info-cart_main-croll_item-checkbox input[type=checkbox]{
    width: 20px;
    height: 20px;
}

.info-cart_main-croll_item-content_header{
    line-height: 18px;
}

.info-cart_main{
    display: flex;
    justify-content: space-around;
}

.info-cart_main-wrap_header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-35%);
    font-size: 50px; 
    color: #F4D58D; 
    font-weight: 700;
}

.info-cart_main-wrap{
    margin-top: 100px;
}

.info-cart_main{
    margin: 0 auto;
    margin-top: 20px;
    height: 600px;
    width: 1200px;
    overflow: auto;
}

.info-cart_main::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border: 1px solid #F4D58D;
    border-radius: 50px;
} 

.info-cart_main::-webkit-scrollbar-thumb {
    background-color: #F4D58D;
    border-radius: 50px;
}

.info-cart_main-select_all{
    background-color: #F4D58D;
    width: 77%;
    height: 80px;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.info-cart_main-select_all-checkbox{
    display: flex;
    margin-left: -60px;
    margin-top: 5px;
}


.info-cart_main-select_all-checkbox_item{
    margin: 0 15px;
}

.info-cart_main-select_all-checkbox input{
    margin: 0;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

.info-cart_main-select_all-checkbox_content{
    font-weight: 600;
    font-size: 23px;
}

.info-cart_main-select_all-price{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    font-size: 22px;
    align-items: center;
}


.info-cart_main-select_all-price_content{
    margin: 0 70px;
}

.info-cart_main-select_all-btn_content{
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 7px;
    font-size: 20px;
}
/* pay-product.html */

.pay-product_main{
    display: flex;
    justify-content: space-around;
}

.pay-product_main-left_item-checkbox input[type=checkbox]{
    width: 20px;
    height: 20px;

}

.pay-product_main{
    color: white;
}

.pay-product_main-left_item{
    display: flex;
    align-items: center;
}

.pay-product_main-left_item-content_desc span{
    opacity: 0.5;

}

.pay-product_main-left_item-content_header{
    line-height: 18px;
}

.pay-product_main-right{
    margin-right: 20%;
}

.pay-product_main-right_address span{
    font-size: 17px;
    font-weight: 400;
}

.pay-product_main-right_address-input input{
    background-color: transparent;
    border: 1px solid #F4D58D;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
}

.pay-product_main-right_address-input input:focus{
    outline: none;
}

.pay-product_main-right_select-pay{
    margin-top: 30px;
}

.pay-product_main-right_select-pay span{
    font-size: 15px;
    opacity: 0.5;
}

.pay-product_main-right_select-pay input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 0;
    transform: translateY(30%);
}

.pay-product_main-right_select-pay_main{
    margin: 20px 0;
}

.pay-product_main-right_select-pay_title span{
    font-size: 30px;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-weight: 700;
}

.pay-product_main-right_select-pay_title{
    margin: 50px 0 30px 0;
}

.pay-product_main-right_btn-bag{
    display: flex;
    margin-top: 40px;
}

.pay-product_main-right_btn-bag img{
    width: 50px;
    height: 50px;
    transform: translateY(14%);
}

.pay-product_main-right_btn-bag_content span{
    word-spacing: 5px;
    font-size: 15px;
}

.pay-product_main-right_btn-bag_content{
    border: 1px solid #F4D58D;
    border-radius: 15px;
    margin: 10px 0;
    padding: 8px 20px 9px 20px;
}

.pay-product_main-right_btn-cart{
    display: flex;
    margin-top: 40px;
}

.pay-product_main-right_btn-cart img{
    width: 50px;
    height: 50px;
    transform: translateY(14%);
}

.pay-product_main-right_btn-cart_content span{
    word-spacing: 5px;
    font-size: 15px;
}

.pay-product_main-right_btn-cart_content{
    border: 1px solid #F4D58D;
    border-radius: 15px;
    margin: 10px 0;
    padding: 8px 20px 9px 20px;
}

.pay-product_main-right_btn{
    color: #F4D58D;
    font-size: 20px;
}

.pay-product_main-right_btn-bag_content{
    margin-left: 20px;
}

.pay-product_main-right_btn-cart_content{
    margin-left: 20px;
}

.pay-product_main-wrap_title{
    font-size: 45px;
    color: #F4D58D;
    margin-bottom: 50px;
}

.pay-product_main-wrap{
    margin-top: 100px;
    margin-left: 13%;
}

.pay-product_main-croll-img{
    height: 555px;
}

.pay-product_main-croll-img img{
    height: 100%;
}

.pay-product_main-wrap_total{
    font-size: 30px;
    color: #F4D58D;
    padding: 20px 0;
    margin-left: 5%;
}

/* slide-gird.html */

.slide-grid_main{
    display: flex;
    width: 83%;
    height: 100%;
    margin: 0 auto;
    background-color: #192B3C;
    padding: 15px;
    border-radius: 25px;
    margin-top: 8%;
    transform: translateX(1%);
    position: relative;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.slide-grid_main-small{
    display: flex;
    margin: 0 auto;
    transform: translateX(-5%);
}

.slide-grid_main-small_left-item{
    padding: 10px;
    background-color: #192B3C;
    border-radius: 25px;
}

.slide-grid_main-small_left-item_content{
    margin-top: -100px;
    color: white;
    margin-left: 2px;
}

.slide-grid_main-small_left-item_content-made{
    margin-top: -10px;
    font-size: 10px;
    margin-left: 24px;
}

.slide-grid_main-small_left-item_content-desc{
    margin-left: 8%;
    font-size: 15px;
    opacity: 0.8;
}

.slide-grid_main-big_content{
    position: absolute;
    top: 21%;
    left: 5%;
    transform: translateY(50%);
}

.slide-grid_main-big{
    margin: 0 auto;
    margin-top: 15px;
    color: white;
}


.slide-grid_main-big_content-title h2{
    font-size: 35px;
    line-height: 40px;
}

.slide-grid_main-big_content-desc{
    transform: translateY(-25%);
    font-size: 17px;
}

.slide-grid_main-big_content-made{
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.slide-grid_main-big_img{
    width: 584px;
    height: 460px;
}

.slide-grid_main-big_img img{
    width: 100%;
    height: 100%;
}

.slide-grid_main-small_left-item_img{
    width: 226px;
    height: 232px;
    padding: 7px 1px;
}

.slide-grid_main-small_left-item_img img{
    width: 100%;
    height: 100%;
}

.slide-grid_main-big_content-made_desc-icon{
    width: 40%;
    text-align: end;
    font-size: 30px;
}

.slide-grid_main-more{
    color: #F4D58D;
    transform: translate(-30%, 49%);
}

.slide-grid_main-more_icon{
    text-align: center;
    font-size: 23px;
}

.slide-grid_wrap-bottom_main{
    color: white;
    display: flex;
    justify-content: center;
}

.slide-grid_wrap-bottom_main-left_item{
    display: flex;
    align-items: end;
    margin: 0 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slide-grid_wrap-bottom_main-left_item-img{
    width: 300px;
    height: 200px;
}

.slide-grid_wrap-bottom_main-left_item-img img{
    width: 100%;
    height: 100%;
}

.slide-grid_wrap-bottom_main-left_item-content_title{
    margin: 0;
    font-size: 13px;
}

.slide-grid_wrap-bottom_main-left_item-content_desc{
    line-height: 20px;
    transform: translateY(-35%);
    font-size: 13px;
}

.slide-grid_wrap-bottom_main-left_item-content_made{
    transform: translateY(-50%);
    font-size: 13px;
}

.slide-grid_wrap-bottom_main-left_item-content{
    transform: translateY(-10%);
}

.slide-grid_wrap-page{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 180px;
}

.slide-grid_wrap-page_btn{
    margin-right: 488px;
}

.home-page_slider-top_img{
    width: 30%;   
    height: 700px;
}

.home-page_slider-top_img img{
    width: 100%;
    height: 100%;
}



/* mobile width < 740px*/
@media only screen and (max-width: 46.1875em){
    .index-main_nav-list {
        display: none;
    }

    .home-page_slider-top_body{
        flex-direction: column;
    }

    .home-page_slider-top_img{
        margin-left: 35px;
        transform: translate(5%, 30%);
    }

    .home-page_slider-top_img img{
        width: 90%;
        height: 90%;
    }

    .home-page_slider-top_content{
        width: 100%;
        text-align: center;
        margin-left: 17px;
    }

    .home-page_slider-top_content-slider{
        font-size: 28px;
        margin-left: -15px;
        margin-top: 20px;
    }

    .home-page_slider-top_content-desc{
        width: 73%;
        font-size: 18px;
        margin: 0 auto;
        transform: translateX(-1%);
    }

    .home-page_slider-top_content-btn{
        transform: translateX(12%);
    }
    .menu-prod_dot{
        margin-top: 180px;
        margin-bottom: 100px;
    }

    .home-page_slider-top_img{
        width: 100%;
    }
    
    .home-page_origin{
        flex-direction: column-reverse;
    }

    .home-page_origin-img {
        transform: translateY(25%);
        width: 386px;
        height: 400px;
    }

    .home-page_origin-content {
        text-align: center;
        width: 60%;
    }

    .home-page_slider-top_btn{
        transform: translateX(2%);
    }

    .home-page_origin-img{
        text-align: center;
    }

    .home-page_origin-img img{
        margin-top: 65%;
        width: 90%;
        height: 65%;
    }

    .home-page_origin-content{
        margin: 0 auto;
        margin-top: 30%;
        font-size: 14px;
    }

    .home-page_origin-content_header{
        margin-top: 40%;
    }

    .home-page_origin-content_header span{
        font-size: 30px;
        color: #F4D58D;
    }

    .home-page_origin-left{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60%;
        text-align: center;
        margin-bottom: 20%;
    }

    .home-page_origin-img_left img{
        width: 83%;
        height: 100%;
    }

    .home-page_origin-content_left{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 14px;
        margin-top: 10%;
    }

    .home-page_origin-content_header-left{
        font-size: 30px;
        color: #F4D58D;
    }

    .home-page_characteristic-left{
        margin-top: 60%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20%;
        background-color: #5E7B6F;
    }

    .home-page_characteristic-content_left{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 14px;
        margin-top: 10%;
    }

    .home-page_characteristic-img_left img{
        width: 80%;
        height: 90%;
        transform: translateY(20%);
    }

    .home-page_characteristic-img_left{
        text-align: center;
    }

    .home-page_slider-bottom_item{
        display: none;
    }

    .home-page_slider-bottom_item-first{
        display: block;
    }

    .home-page_slider-bottom_body{
        display: block;
        justify-content: center;
        margin-left: 35%;
    }

    .home-page_slider-bottom_item {
        width: 100%;
        height: 100%;
        transform: translateX(-17%);
    }

    .home-page_slider-bottom_item img{
        width: 65%;
        height: 100%;
    }

    .home-page_slider-bottom_btn{
        width: 80%;
        display: flex;
        transform: translate(13%, -60%);
    }

    .home-page_slider-bottom_body-dot{
        margin-top: 8%;
        margin-left: 16%;
    }

    .home-page_slider-bottom_body-dot_end{
        display: none;
    }

    .index-main_footer-menu_content-item {
        margin: 0 9px;
    }

    .intro-me_main{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        text-align: center;
    }

    .intro-me_main-right_content{
        font-size: 60px;
        transform: translateX(-38%);
    }

    .intro-me_main-right_circle{
        transform: translate(-10%, -20%);
        font-size: 180px;
    }

    .intro-me_main-right_img{
        transform: translateX(10%);
    }

    .intro-me_main-right{
        margin-top: 50%;
    }

    .intro-me_main-left_header{
        font-size: 40px;
        transform: translateX(-7%);
    }

    .intro-me_main-left_desc{
        text-align: center;
        font-size: 10px;
        transform: translateX(20%);
    }

    .intro-me_main-left{
        margin-top: 10%;
        width: 77%;
    }

    .intro-me_member{
        display: flex;
        flex-direction: column;
    }
}

/* tablet width >= 740px and width < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){

}

.home-page_slider-bottom_body-header{
    width: 100%;
}

.home-page_origin-main2{
    width: 100%;
    height: 100%;
    background-color: #6D0500;
}

.intro-me_main-right_img{
    width: 100%;
    height: 100%;
}

.intro-me_main-right_img img{
    width: 100%;
    height: 120%;
}

.intro-me_main-right_content{
    color: #001427;
    -webkit-text-stroke: 1px rgba(247, 243, 243, 0.5);
    text-shadow: 1px 1px rgba(253, 248, 248, 0.5);
}

.styleImg{
    width: 100%;
    height: 100%;
}